.about-section {
display: block;
padding-top: 0px;
        
 @media screen and (max-width: 1199px) {
    display: none;
}
}


.about__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* wrapper about */

.img-wrapper {
    position: relative;
}


.about__img {
    display: block;


}

.about__descr {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}