 
.our-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
 
}

.clients-item{ 
flex-basis: calc((100% - 30px)/2);

@media screen and (min-width: 768px){       
flex-basis: calc((100% - 60px)/3);
}

@media screen and (min-width: 1200px) {
   width: 170px;
   flex-basis: auto;
}


}


.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: #2196F3;
            border: 1px solid #2196F3;
        }

}



.clients-icon {
    fill: currentColor}