 
.our-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
    flex-wrap: wrap;       
    
        }
}


.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: #2196F3;
            border: 1px solid #2196F3;
        }

  @media screen and (min-width: 768px) {
    width: 226px;
      
  }
        
  @media screen and (min-width: 1200px) {
     width: 170px;
     
     }
}



.clients-icon {
    fill: currentColor;

}