.header {
    border: 1px solid #ECECEC;
}



.header__container {
display: none;


@media screen and (min-width: 768px) {
        display: flex;
align-items: center;
    }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
    
        }
}


    

 

.mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu__btn {
    background-color: var(--primary-white-color);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor:  pointer;
    z-index: 10;
    padding: 11px;
    @media screen and (min-width: 768px) {
        display: none;
    }
        
    }


.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;


    // @media screen and (min-width: 768px) {
        
   
    //     }

    //             @media screen and (min-width: 1200px) {
    //               margin-right:auto;
              
    //             }
}

.container-address {
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-list {
    display: flex;

}

.container-contact {
    
@media screen and (min-width: 768px) {
  width: 160px;
  text-align: right;
display: flex;
flex-wrap: wrap;
gap: 10px;



  
 }
@media screen and (min-width: 1200px) {
    display: flex;
    justify-content: end;
    width: 333px;
    gap: 30px;
    }

}
.icon-header {
    margin-right: 10px;
}


.header-item:not(:last-child) {
    margin-right: 50px;
}



.contact-item:not(:last-child) {
    margin-right: 50px;
}


.header-link,
.header-contact {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.header-contact {

    color: var(--secondary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.accent,
.current {
    color: var(--accent-color);
}

.header-link-ikon {
    display: block;
    width: 16px;
    height: 12px;
    fill: #AFB1B8;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            fill: var(--accent-color)
        }

}



.menu-link {
    position: relative;
}


.menu-link::after {
    content: "";

    position: absolute;
    bottom: -33px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);


}

.contacts-header-icon {
    fill: currentColor;

}

.contacts-header-icon {
    display: flex;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


