.logo {
    font-family: var(--second-font-famaly);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000;
    padding: 16px 0;
  

    @media screen and (min-width: 768px) {
           margin-right: 88px;
        padding: 26px 0;
        }

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    padding: 24px 0;
    }
}