.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.title-section {

    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;
    

@media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
    }
}