:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;

    /* fonts */
    --main-font-famaly: Roboto, sans-serif;
    --second-font-famaly: Raleway, sans-serif;
}